h1 {
  /*
  @todo
  - set font globally
  - set margins globally
  - check out responsive behaviour of title
  */
  font-family   : 'Architects Daughter', cursive, serif;
  margin-top    : 1em;
  margin-bottom : .5em;
}

img {
  display : block;
}