<h1>Events of case '{{diseaseCaseName}}'</h1>

<div class="row">
    <!-- List all existing items as a card -->
    <div *ngFor="let diseaseEvent of allDiseaseEvents | async"
         class="col-xs-10 offset-xs-1 col-sm-6 offset-sm-0 col-md-4 col-lg-3 col-cards">
        <div diseaseEvents-item [diseaseEvent]="diseaseEvent" class="card-container"></div>
    </div>

    <!-- Card to add new item -->
    <div class="col-xs-10 offset-xs-1 col-sm-6 offset-sm-0 col-md-4 col-lg-3 col-cards">
        <div class="card-container">
            <div class="card card-square text-xs-center">

                <div class="card-full-size">
                    <button type="button" class="btn btn-secondary btn-full-size"
                            [routerLink]="['create']">
                        <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
                        <br>add event
                    </button>
                </div>

            </div>
        </div>
    </div>

</div>
