/* colors */
$body-bg-color : #e2e1e0;

$breadcrumb-bg-color : #f5f5f5;

$form-bg-color : white;
$form-error-color : red;
$modal-header-danger-color: #FF5252;

$card-bg-color : #90A4AE;
/* some colors for active cards*/
$card-active-case-color : orange;
$card-active-case-color : #FF8A65; /* rötlich dunkler */
$card-active-case-color : #EEFF41; /* gelb-grün */
$card-active-case-color : #FFFF8D; /* gelb-hell */
$card-active-case-color : #FFAB91; /* rötlich heller */
$card-active-case-color : #ff7133; /* rot orange */
/* +++++++++++ */
$card-header-bg-color : #E6EE9C;

$toggle-bg-color : #ccc;
$toggle-bg-before-color : white;
$toggle-bg-checked-color : #ff7133;
$toggle-input-focus-color : #2196F3;
