@import "~bootstrap/scss/bootstrap-grid.scss";
@import "./_colors.scss";

table {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
tr {
  background-color: white;
}
td {
  vertical-align : middle;
}

/* Modal header color */
.cust-table-modal-header-danger {
  background-color: #FF5252;
}
