@import "~bootstrap/scss/bootstrap-grid.scss";
@import "./_colors.scss";

h4 {
  margin-bottom : 0;
}

.col-cards {
  padding-bottom : .9rem;
}

/*
// Option 1: Cards have equal heights
.card-equal-height {
  height: 100%;
  margin-bottom: 0;
}
*/

/*
  Hack to set aspect ratio of cards: http://www.w3schools.com/howto/howto_css_aspect_ratio.asp
  Important: too much content in height gets cropped away
*/
@include media-breakpoint-up(sm) {
  .card-container {
    position    : relative;
    width       : 100%;
    padding-top : 100%; /* 1:1 Aspect Ratio */
  }

  .card-square {
    /* parent needs be a .card-container */
    position      : absolute;
    top           : 0;
    bottom        : 0;
    left          : 0;
    right         : 0;
    overflow      : hidden;
    margin-bottom : 0;
  }
}

.card-active-case {
  border: 1px solid $card-active-case-color;
  box-shadow : inset 0 0 50px 0 $card-active-case-color,
  0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  .card-header {
    background-color : transparent;
  }
}

/*
.card-footer-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
*/

.card-header-custom {
  //background-color: transparent;
  //background-color: $card-header-bg-color;
  //opacity: .5;
}

.card-custom {
  //background-color: $card-bg-color;
}