<div class="card-container">
    <div class="card card-square text-xs-center">
        <div class="card-header card-header-custom">
            <h4>{{patient.name}}</h4>
        </div>
        <div class="card-block">
            <button type="button"
                    class="btn btn-secondary btn-block"
                    data-toggle="modal"
                    [attr.data-target]="'#' + patientKey"
                    (click)="showDeleteDialog(patientKey)">Delete
            </button>
        </div>
    </div>
</div>

<!-- modal dialog for deleting a patient -->

<div *ngIf="showModalDialogDelete == patientKey" class="modal fade" [attr.id]="'' + patientKey" tabindex="-1"
     role="dialog" aria-labelledby="deletePatientModalLabel" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header modal-header-danger">
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="deletePatientModalLabel">Delete: {{patient.name}}</h4>
            </div>

            <div class="modal-body">
                <p>Are you sure to delete this patient?</p>
                <p>All cases and events of this patient are also deleted!</p>
                <label *ngIf="isDevMode" class="debug">
                    <input type="checkbox"
                           name='Simulation'
                           value="simulate"
                           #updateSimulation
                           [checked]="simulateDeletion"
                           (change)="simulateDeletion = updateSimulation.checked">
                    Simulation (no object deletion, only log delete information in console)
                </label>
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                        (click)="showDeleteDialog('')">
                    Cancel
                </button>
                <button type="button"
                        class="btn btn-danger"
                        (click)="deletePatient()"
                        data-dismiss="modal">
                    Delete patient
                </button>
            </div>
        </div>
    </div>
</div>
