<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">

    <button class="navbar-toggler hidden-sm-up"
            type="button"
            data-toggle="collapse"
            data-target="#responsive-navbar"
            aria-controls="responsive-navbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
    </button>

    <span class="hidden-sm-up">
        <!-- icons only -->
        <div class="nav navbar-nav float-xs-right">
            <a class="nav-item nav-link" *ngIf="isLoggedIn" [routerLink]="['/loggedInData']"
               routerLinkActive="active" (click)="collapseNav(collapsibleNav)"
               data-toggle="tooltip" data-placement="bottom" title="List your user data">
                <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <a class="nav-item nav-link" *ngIf="isLoggedIn" [routerLink]="['/']"
               (click)="onLogout(collapsibleNav)"
               data-toggle="tooltip" data-placement="bottom" title="Logout user">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
            <a class="nav-item nav-link" *ngIf="!isLoggedIn" [routerLink]="['/login']"
               routerLinkActive="active"
               (click)="collapseNav(collapsibleNav)"
               data-toggle="tooltip" data-placement="bottom" title="Show login form">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
            </a>
            <a class="nav-item nav-link" *ngIf="!isLoggedIn" [routerLink]="['/register']"
               routerLinkActive="active"
               (click)="collapseNav(collapsibleNav)"
               data-toggle="tooltip" data-placement="bottom" title="Show registration form">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
            </a>
        </div>
    </span>

    <div class="collapse navbar-toggleable-xs" id="responsive-navbar" #collapsibleNav>

        <!-- Brand -->
        <a class="navbar-brand" [routerLink]="['/']"
           data-toggle="tooltip" data-placement="bottom" title="Home">
            Disease Diary
        </a>

        <!-- Links -->
        <div class="nav navbar-nav">
            <a class="nav-item nav-link" *ngIf="isLoggedIn" [routerLink]="['/patients']" routerLinkActive="active"
               (click)="collapseNav(collapsibleNav)"
               data-toggle="tooltip" data-placement="bottom" title="Your patient list">
                Patients
            </a>
        </div>

        <!-- Admin -->
        <div class="nav navbar-nav navbar-nav-admin float-sm-right"
             *ngIf="isLoggedIn && (loggedInUserAdmin === true)"
             routerLinkActive="active">

            <div class="nav-item dropdown">
                <hr class="nav-divider hidden-sm-up">

                <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>

                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="Admin">
                    <a class="dropdown-item" [routerLink]="['/userAdmin']" (click)="collapseNav(collapsibleNav)">
                        Administrate users</a>
                    <a class="dropdown-item" [routerLink]="['/users']" (click)="collapseNav(collapsibleNav)">
                        List users & patients</a>
                    <div *ngIf="isLoggedIn" class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/linkList']" (click)="collapseNav(collapsibleNav)">
                        CAS FEE Project links</a>
                </div>
            </div>
        </div>

        <!-- Authentication -->
        <div class="nav navbar-nav float-sm-right">
            <hr class="nav-divider hidden-sm-up">

            <a class="nav-item nav-link" *ngIf="isLoggedIn" [routerLink]="['/loggedInData']"
               routerLinkActive="active" (click)="collapseNav(collapsibleNav)"
               data-toggle="tooltip" data-placement="bottom" title="List your user data">
                {{loggedInUserName}}
            </a>
            <a class="nav-item nav-link" *ngIf="isLoggedIn" [routerLink]="['/']"
               (click)="onLogout(collapsibleNav)"
               data-toggle="tooltip" data-placement="bottom" title="Logout user">
                Logout
            </a>
            <a class="nav-item nav-link" *ngIf="!isLoggedIn" [routerLink]="['/login']"
               routerLinkActive="active"
               (click)="collapseNav(collapsibleNav)"
               data-toggle="tooltip" data-placement="bottom" title="Show login form">
                Login
            </a>
            <a class="nav-item nav-link" *ngIf="!isLoggedIn" [routerLink]="['/register']"
               routerLinkActive="active"
               (click)="collapseNav(collapsibleNav)"
               data-toggle="tooltip" data-placement="bottom" title="Show registration form">
                Register
            </a>
        </div>

    </div>

</nav>
