<h1 class="text-xs-center">Edit case <i class="fa fa-pencil" aria-hidden="true"></i></h1>

<div class="row flex-items-xs-center">
    <div class="col-xs-12 col-md-8 col-lg-6">

        <form novalidate [formGroup]="diseaseCaseForm" (ngSubmit)="onSubmit()">

            <div class="form-group row">
                <label for="name" class="col-form-label col-xs-12 col-sm-4">
                    Name
                </label>
                <div class="col-xs-12 col-sm-8">
                    <input type="text" placeholder="e.g. summer flu, teething.." formControlName="name" id="name"
                           class="form-control">
                    <div class="alert alert-danger alert-danger-form"
                         *ngIf="diseaseCaseForm.get('name').touched && diseaseCaseForm.get('name').hasError('required')">
                        Name is required
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="startDate" class="col-form-label col-xs-12 col-sm-4">
                    Start Date
                </label>
                <div class="col-xs-12 col-sm-8">
                    <input type="text" formControlName="startDate" id="startDate" class="form-control">
                </div>
            </div>

            <div class="form-group row">
                <label for="endDate" class="col-form-label col-xs-12 col-sm-4">
                    End Date
                </label>
                <div class="col-xs-12 col-sm-8">
                    <input type="text" formControlName="endDate" id="endDate" class="form-control" placeholder="will be set automatically">
                </div>
            </div>

            <div class="form-group row">
                <label for="active" class="col-form-label col-xs-12 col-sm-4">
                    Case active
                </label>
                <div class="col-xs-12 col-sm-8">
                    <label class="switch">
                        <input id="active"
                               type="checkbox"
                               formControlName="active"
                               class="form-control">
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>

            <div class="text-sm-right">
                <button class="btn btn-secondary" type="button" (click)="goBack()">
                    Back
                </button>
                <button class="btn btn-danger" type="button"
                        data-toggle="modal"
                        [attr.data-target]="'#' + diseaseCaseKey"
                        (click)="showDeleteDialog(diseaseCaseKey)">
                    Delete
                </button>
                <button class="btn btn-primary" type="submit"
                        [disabled]="diseaseCaseForm.invalid">
                    Update
                </button>
            </div>

        </form>

    </div>
</div>


<!-- modal dialog for deleting disease case -->
<div *ngIf="showModalDialog === diseaseCaseKey"
     class="modal fade"
     [attr.id]="'' + diseaseCaseKey"
     tabindex="-1"
     role="dialog"
     aria-labelledby="editDiseaseCaseModalLabel"
     aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header modal-header-danger">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editDiseaseCaseModalLabel">Delete: {{diseaseCaseName}}</h4>
            </div>

            <div class="modal-body">
                <p>{{ msgList["diseaseCases-edit-1"] }}</p>
                <p>{{ msgList["diseaseCases-edit-2"] }}</p>
                <label *ngIf="isDevMode" class="debug">
                    <input type="checkbox" name='Simulation' value="simulate"
                           #updateSimulation
                           [checked]="simulateDeletion"
                           (change)="simulateDeletion = updateSimulation.checked">
                    {{msgList["simulation"]}}
                </label>
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                        (click)="showDeleteDialog('')">
                    Cancel
                </button>
                <button type="button"
                        class="btn btn-danger"
                        (click)="deleteDiseaseCase()"
                        data-dismiss="modal">
                    Delete
                </button>
            </div>

        </div>
    </div>
</div>


<div class="debug" *ngIf="isDevMode">
    <p>Value:</p>
    <pre>{{diseaseCaseForm.value | json}}</pre>
    <p>Valid: {{diseaseCaseForm.valid | json}}</p>
</div>
