<h1 class="text-xs-center">Open Case <i class="fa fa-plus" aria-hidden="true"></i></h1>

<div class="row flex-items-xs-center">
    <div class="col-xs-12 col-md-8 col-lg-6">

        <form novalidate [formGroup]="diseaseCaseForm" (ngSubmit)="onSubmit()">

            <div class="form-group row">
                <label for="name" class="col-form-label col-xs-12 col-sm-4">
                    Name
                </label>
                <div class="col-xs-12 col-sm-8">
                    <input type="text" placeholder="Summer flu" formControlName="name" id="name"
                           class="form-control">
                    <div class="alert alert-danger alert-danger-form"
                         *ngIf="diseaseCaseForm.get('name').touched && diseaseCaseForm.get('name').hasError('required')">
                        Name is required
                    </div>
                </div>
            </div>

            <!--
            <div class="form-group row">
                <label for="type" class="col-form-label col-xs-12 col-sm-4">
                    Type
                </label>
                <div class="col-xs-12 col-sm-8">
                    <input type="text" placeholder="Enter a type" formControlName="type" id="type"
                           class="form-control">
                    <div class="alert alert-danger alert-danger-form"
                         *ngIf="diseaseCaseForm.get('type').touched && diseaseCaseForm.get('type').hasError('required')">
                        Type is required
                    </div>
                </div>
            </div>
            -->

            <div class="form-group row">
                <label for="startDate" class="col-form-label col-xs-12 col-sm-4">
                    Start Date
                </label>
                <div class="col-xs-12 col-sm-8">
                    <p-calendar formControlName="startDate"
                                id="startDate"
                                dateFormat="dd.mm.yy"
                                placeholder="dd.mm.yyyy"
                                showIcon="true"
                                dataType="string">
                    </p-calendar>
                    <div class="alert alert-danger alert-danger-form"
                         *ngIf="diseaseCaseForm.get('startDate').touched && diseaseCaseForm.get('startDate').hasError('required')">
                        Start date is required. <br>
                        Format: 28.02.2014
                    </div>
                </div>
            </div>

            <div class="text-sm-right">
                <button class="btn btn-secondary" type="button" (click)="goBack()">
                    Cancel
                </button>
                <button class="btn btn-primary" type="submit" [disabled]="diseaseCaseForm.invalid">
                    Open Case
                </button>
            </div>

        </form>

    </div>
</div>


<div class="debug" *ngIf="isDevMode">
    <p>Value:</p>
    <pre>{{diseaseCaseForm.value | json}}</pre>
    <p>Valid: {{diseaseCaseForm.valid | json}}</p>
</div>
