<div class="card card-square text-xs-center" [ngClass]="{'card-outline-danger': diseaseCase.active == true}">
  <div class="card-header card-header-custom">
    <h4>{{diseaseCase.name}}</h4>
  </div>

  <div class="card-block">
    <button type="button" class="btn btn-secondary btn-block"
            [routerLink]="[diseaseCase.$key + '/edit']">Edit
    </button>
    <button type="button" class="btn btn-secondary btn-block"
            [routerLink]="[diseaseCase.$key + '/diseaseEvents']">Cases
    </button>
  </div>
  <!--
      <div class="card-footer card-footer-bottom">
          <div class="card-text">
              text - tbd
          </div>
      </div>
  -->
</div>

