<div class="card card-square text-xs-center" [ngClass]="{'card-active-case': diseaseCase.active === true}">

    <div class="card-header card-header-custom">
        <h4>{{diseaseCase.name}}</h4>
    </div>

    <div class="card-block">
        <button type="button" class="btn btn-secondary btn-block"
                [routerLink]="[diseaseCase.$key + '/diseaseEvents']">Events
        </button>
        <button type="button" class="btn btn-secondary btn-block"
                [routerLink]="[diseaseCase.$key + '/edit']">Edit
        </button>
    </div>

</div>
