<div class="row">
    <div class="col-xs-12">
        <h1>My Patients</h1>
    </div>
</div>

<div class="row">
    <!-- List all existing items as a card -->
    <div *ngFor="let patient of allPatients | async"
         class="col-xs-10 offset-xs-1 col-sm-6 offset-sm-0 col-md-4 col-lg-3 col-cards">
        <div patients-item [patient]="patient" class="card-container"></div>
    </div>

    <!-- Card to add new item -->
    <div class="col-xs-10 offset-xs-1 col-sm-6 offset-sm-0 col-md-4 col-lg-3 col-cards">
        <div class="card-container">
            <div class="card card-square text-xs-center">

                <div class="card-header card-header-custom">
                    <h4>Add patient</h4>
                </div>

                <div class="card-block">
                    <button type="button" class="btn btn-secondary btn-block"
                            [routerLink]="['create']">Create
                    </button>
                </div>
<!--
                <div class="card-footer card-footer-bottom">
                    <div class="card-text">
                        {{patientsCount}} patients of: {{loggedInUserName}}
                    </div>
                </div>
-->
            </div>
        </div>
    </div>

</div>
