<h1 class="text-xs-center">Edit Patient <i class="fa fa-pencil" aria-hidden="true"></i></h1>

<div class="row flex-items-xs-center">
    <div class="col-xs-12 col-md-8 col-lg-6">

        <form novalidate [formGroup]="patientForm" (ngSubmit)="onSubmit()">

            <div class="form-group row">
                <label for="name" class="col-form-label col-xs-12 col-sm-4">
                    Name
                </label>
                <div class="col-xs-12 col-sm-8">
                    <input type="text" placeholder="Enter a name" formControlName="name" id="name"
                           class="form-control">
                    <div class="alert alert-danger alert-danger-form"
                         *ngIf="patientForm.get('name').touched && patientForm.get('name').hasError('required')">
                        Name is required
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="date-of-birth" class="col-form-label col-xs-12 col-sm-4">
                    Date of Birth
                </label>
                <div class="col-xs-12 col-sm-8">
                    <input type="date" placeholder="2016-12-05" formControlName="birthdate" id="date-of-birth"
                           class="form-control">
                    <div class="alert alert-danger alert-danger-form"
                         *ngIf="patientForm.get('birthdate').touched && patientForm.get('birthdate').hasError('required')">
                        Date of birth is required
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="gender" class="col-form-label col-xs-12 col-sm-4">
                    Gender
                </label>
                <div class="col-xs-12 col-sm-8">
                    <select formControlName="gender" id="gender" class="form-control">
                        <option *ngFor="let item of genderConfig" value={{item.key}}>{{item.text}}</option>
                    </select>
                    <div class="alert alert-danger alert-danger-form"
                         *ngIf="patientForm.get('gender').touched && patientForm.get('gender').hasError('required')">
                        Gender is required
                    </div>
                </div>
            </div>

            <div class="text-sm-right">
                <button class="btn btn-secondary" type="button" (click)="goBack()">
                    Cancel
                </button>
                <button class="btn btn-danger" type="button"
                        data-toggle="modal"
                        [attr.data-target]="'#' + patientKey"
                        [disabled]="patientForm.invalid"
                        (click)="showDeleteDialog(patientKey)">
                    Delete
                </button>
                <button class="btn btn-primary" type="submit" (click)="onSubmit()">
                    Update
                </button>
            </div>

        </form>

    </div>
</div>


<!-- modal dialog for deleting patient -->
<div *ngIf="showModalDialog === patientKey"
     class="modal fade"
     [attr.id]="'' + patientKey"
     tabindex="-1"
     role="dialog"
     aria-labelledby="editPatientModalLabel"
     aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header cust-table-modal-header-danger">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editPatientModalLabel">Delete: {{patientName}}</h4>
            </div>

            <div class="modal-body">
                <p>Are you sure to delete this patient?</p>
                <p>All cases and events of this patient are also deleted!</p>
                <label>
                    <input type="checkbox" name='Simulation' value="simulate"
                           #updateSimulation
                           [checked]="simulateDeletion === true">
                    Simulation (only log delete information)
                </label>
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                        (click)="showDeleteDialog('')">
                    Cancel
                </button>
                <button type="button"
                        class="btn btn-danger"
                        (click)="deletePatient(updateSimulation.checked)"
                        data-dismiss="modal">
                    Delete
                </button>
            </div>

        </div>
    </div>
</div>


<div class="debug" *ngIf="isDevMode">
    <p>Value:</p>
    <pre>{{patientForm.value | json}}</pre>
    <p>Valid: {{patientForm.valid | json}}</p>
</div>