<h1 class="text-xs-center">[icon] Edit Patient</h1>

<div class="row flex-items-xs-center">
    <div class="col-xs-12 col-md-8 col-lg-6">

        <form novalidate (ngSubmit)="onSubmit()" [formGroup]="patient">

            <div class="form-group">
                <label for="name" class="col-xs-12 col-sm-4">
                    Name
                </label><!--
             --><input type="text" placeholder="Choose a name" formControlName="name" id="name"
                       class="col-xs-12 col-sm-8">
                <div class="alert alert-danger alert-danger-form"
                     *ngIf="patient.get('name').touched && patient.get('name').hasError('required')">
                    Name is required
                </div>
            </div>


            <div class="form-group">
                <label for="date-of-birth" class="col-xs-12 col-sm-4">
                    Date of Birth
                </label><!--
             --><input type="date" formControlName="birthdate" id="date-of-birth"
                       class="col-xs-12 col-sm-8">
                <div class="alert alert-danger alert-danger-form"
                     *ngIf="patient.get('birthdate').touched && patient.get('birthdate').hasError('required')">
                    Date of birth is required
                </div>
            </div>


            <div class="form-group">
                <label for="sex" class="col-xs-12 col-sm-4">
                    Sex
                </label><!--
             --><select formControlName="sex" id="sex" class="col-xs-12 col-sm-8">
                    <option value="m">Boy</option>
                    <option value="f">Girl</option>
                </select>
                <div class="alert alert-danger alert-danger-form"
                     *ngIf="patient.get('sex').touched && patient.get('sex').hasError('required')">
                    Sex is required
                </div>
            </div>

            <div class="text-sm-right">
                <button class="btn btn-secondary"
                        (click)="goBack()">
                    Cancel
                </button>
                <button class="btn btn-danger"
                        type="submit"
                        data-toggle="modal"
                        [attr.data-target]="'#' + patientKey"
                        [disabled]="patient.invalid"
                        (click)="showDeleteDialog(patientKey)">
                    Delete
                </button>
                <button class="btn btn-primary"
                        (click)="updatePatient({age: updateAge.value,name: updateName.value})">
                    Update
                </button>
            </div>

        </form>

    </div>
</div>


<!-- *ngIf - modal dialog for deleting patient -->

<div *ngIf="showModalDialog === patientKey" class="modal fade" [attr.id]="'' + patientKey" tabindex="-1" role="dialog"
     aria-labelledby="editPatientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header cust-table-modal-header-danger">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editPatientModalLabel">Delete: {{patientName}}</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this patient?</p>
                <p>All cases and events of this patient are also deleted!</p>
                <td><label><input type="checkbox" name='Simulation' value="simulate" #updateSimulation
                                  [checked]="simulateDeletion == true">&nbsp;&nbsp;Simulation (only log delete
                    information)</label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cust-btn-cancel" data-dismiss="modal"
                        (click)="showDeleteDialog('')">Cancel
                </button>
                <button type="button" class="btn cust-table-btn-delete"
                        (click)="deletePatient(updateSimulation.checked)" data-dismiss="modal">Delete
                </button>
            </div>
        </div>
    </div>
</div>


<div class="debug" *ngIf="isDevMode">
    <p>Value: {{patient.value | json}}</p>
    <p>Valid: {{patient.valid | json}}</p>
</div>