<table class="table table-bordered table-hover">
    <thead class="thead-inverse">
    <tr>
        <th>user id</th>
        <th>user role admin</th>
        <th>update</th>
        <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | async">
        <td>{{user.name}}</td>
        <td>
            <label class="switch" id="active">
                <input type="checkbox"
                       name={{user.$key}}
                       value="admin"
                       #updateAdmin [checked]="user.admin === true"
                       [disabled]="user.name === userMainAdmin">
                <div class="slider round"></div>
            </label>
        </td>
        <td>
            <button type="button"
                    class="btn btn-primary"
                    (click)="updateUser(user.$key, updateAdmin.checked)"
                    [hidden]="user.name == userMainAdmin">
                Update
            </button>
        </td>
        <td>
            <button type="button"
                    class="btn btn-danger"
                    data-toggle="modal"
                    [attr.data-target]="'#' + user.$key"
                    [hidden]="user.name == userMainAdmin"
                    (click)="showDeleteDialog(user.$key)">
                Delete
            </button>
        </td>

        <!-- *ngIf - modal dialog for deleting user -->

        <div *ngIf="showModalDialog == user.$key" class="modal fade" [attr.id]="'' + user.$key" tabindex="-1"
             role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header modal-header-danger">
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="editUserModalLabel">Delete: {{user.name}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure to delete this user?</p>
                        <p>All patients, cases and events of this user are also deleted!</p>
                        <label *ngIf="isDevMode" class="debug">
                            <input type="checkbox"
                                   name='Simulation'
                                   value="simulate"
                                   #updateSimulation
                                   [checked]="simulateDeletion"
                                   (change)="simulateDeletion = updateSimulation.checked">
                            Simulation (no object deletion, only log delete information in console)
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                                (click)="showDeleteDialog('')">
                            Cancel
                        </button>
                        <button type="button"
                                class="btn btn-danger"
                                (click)="deleteUser(user.$key)"
                                data-dismiss="modal">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </tr>
    </tbody>
</table>
